@model Cuenta

@{
    ViewData["Title"] = "Eliminar Cuenta";
}

<h3 class="mb-3">¿Esta seguro de eliminar la cuenta @Model.Nombre?</h3>

<form asp-action="EliminarCuenta">
    <input type="hidden" asp-for="Id" />
    <button class="btn btn-danger" type="submit">Eliminar</button>
    <a class="btn btn-secondary" asp-action="Index">Cancelar</a>
</form>